
.topImages > :nth-child(1){
    border-radius: 10px;
    /* width: 40%; */
    /* overflow-x: hidden; */
    height: 600px;
    /* overflow-y: hidden; */
    /* text-align: end; */
    cursor:  url("../images/buyicon.svg"),auto;
}

