* {
   box-sizing: border-box;
   font-family: "verdana", "sans-serif";
}

.mainContainer {
   width: 100%;
   /* border: 3px solid black; */
   padding: 10px;
}

.Boxes {
   display: flex;
   /* gap: 10%; */
   justify-content: space-evenly;

   /* display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 150px;
   /* border: 1px solid green; */
   /* padding: 10px;
   gap: 30px;
   margin-bottom: 40px; */ 
}

.middleContainer {
   /*    display: flex; */
   

   /*border: 1px solid grey; */
   justify-content: space-around;
}

.smallBoxes {
   text-align: center;
   display: flex;
   flex-direction: column;
   padding: 10px;
   width: 300px;
   align-items: center;
   justify-content: center;
   /* border: 1px solid orange; */
   background-color: rgb(213, 216, 213);
   font-size: larger;
   border-radius: 10px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.buttonContainer {
   /* background-color: aquamarine; */
   display: flex;
  justify-content: space-around;
  
   padding-top: 30px;
   /* border: 0.5px solid rgb(156, 155, 155); */
}

.cardContainer {
   /* background-color: rgb(41, 74, 121); */
   /* width: 70%;
   padding: 30px; */
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
   margin: 30px;
}



.getbutton {
   height: 50px;
   display: none;
}

#mainbutton {
   height: 50px;
   display: block;
}

#updateDetails {
   font-weight: 400;
}

input {
   /* margin: 200px; */
   padding: 10px;
border-radius: 20px;
margin: 12px;
   border: 0.5px solid grey;
}

button {
   color: #3f3cdf;
   border: 1px solid #33c3f0;
   background-color: #33c3f0;
   font-size: large;
   border-radius: 15px;
}



#selecttag {
   display: none;
   padding: 10px;
}
.updateProduct {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   padding: 20px;
}


.notification {
   text-align: center;
   font-weight: 400;
   background-color: #ecf5f2;
   color: grey;
   border: 1px dashed rgb(187, 182, 182);
   padding: 5px;
   width: 70%;
   margin: auto;
   margin-bottom: 10px;
   display: none;
}

.card {
   display: flex;
   width: 100%;
   border: 1px solid rgb(180, 179, 179);
   padding: 10px;
   margin: auto;
   margin-bottom: 20px;
}

.card > div {
   height: 150px;
}
.btnsnm{
   /* position: relative; */
   /* left: 10%; */
   padding:15px ;
   background-color:black;
   border-radius: 15px;
   color: white;
}
.card > div:first-child {
   width: 150px;
   border: 1px solid rgb(142, 139, 139);
   margin-right: 20px;
}
.card img {
   width: 100%;
   height: 100%;
}
.cardProduct {
   display: flex;
}
#ProductCardMAIN {
   margin: auto;
   width: 75%;
   display: flex;
   padding: 10px;
   border: 1px solid rgb(178, 174, 174);
   margin-bottom: 30px;
}
#ProductCardMAIN img {
   width: 200px;
   border: 1px solid black;
   margin-right: 20px;
}

.product2card {
   margin: 0px;
}
.product2card p {
   margin: 12px;
}



